body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
     background-image: url('img/flow.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    background: #000000;
    padding: 1em;
    display: flex;
    gap: 1em;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2em;
    background: rgb(136, 231, 243);
    max-width: 800px;
    margin: 2em auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px hsla(180, 5%, 76%, 0.1);
}

form {
    margin-bottom: 1em;
}

input, button {
    margin: 0.2em;
    padding: 0.5em;
}
